/**
 * Copyright 2013 Mat Booth <mbooth@apache.org>
 */

.indexGrid {
  border-spacing: 0;
  width: 100%;
}

.indexGridLeft {
  vertical-align: top;
}

.indexGridRight {
  vertical-align: top;
}

.indexGridMiddle {
  width: 60%;
  padding: 0 1em;
  vertical-align: top;
}

.indexGridLeft .indexIssuePanel:first-child, .indexGridRight .indexIssuePanel:first-child {
  margin-top: 1em;
}

.indexNewsHeading {
  margin-bottom: 0;
}

.indexIssuePanel {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  background-color: #666;
  display: inline-block;
}

.indexIssuePanel .ui-panel-content {
  padding: 0.5em;
  text-align: center;
  color: #fff;
}

.indexIssuePanel .ui-panel-content img {
  padding: 0.5em 0;
  width: 200px;
}

.indexIssuePanelHeading {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  margin: 0;
}

.indexIssuePanelName {
  display: block;
  font-weight: bold;
  padding: 0 0 0.5em 0;
  width: 100%;
}
