/**
 * Copyright 2013 Mat Booth <mbooth@apache.org>
 */

body {
  background-color: #68C9E9;
  background-image: url('/javax.faces.resource/clouds.png.xhtml?ln=images');
  background-repeat: repeat-x;
  background-position: 0px 65px;
  color: #373737;
}

img {
  border: none;
}

.ui-widget {
  font-size: 0.8em;
}

.ui-widget-content {
  border: none;
}

.ui-widget-content a {
  text-decoration: none;
  color: #696969;
}

.ui-widget-content a:hover {
  color: #ff0000;
}

#shopMainPagePanel {
  width: 860px;
  margin: 20px auto 20px auto;
  padding: 28px 38px 16px 38px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  background-color: white;
}

#shopMainPagePanel_content {
  padding: 0;
}

#shopHeaderTable {
  width: 100%;
  border-spacing: 0;
}

.shopHeaderTableLeftColumn {
  text-align: left;
  vertical-align: top;
  width: 20%;
}

.shopHeaderTableCentralColumn {
  text-align: center;
  vertical-align: top;
  width: 60%;
}

.shopHeaderTableRightColumn {
  text-align: right;
  vertical-align: top;
  width: 20%;
}

.shopHeaderBasketPanel {
  vertical-align: middle;
}

.shopHeaderBasketButton img {
  padding-right: 0.4em;
  vertical-align: middle;
}

.shopHeaderBasketCount {
  font-size: 1.9em;
  font-weight: bold;
  padding-right: 0.2em;
  vertical-align: middle;
}

.shopHeaderBasketItems {
  vertical-align: middle;
}

#shopHeaderMenu {
  display: block;
  padding-top: 1em;
  text-align: center;
  width: 100%;
}

#shopHeaderMenu a {
  padding-left: 8px;
  padding-right: 8px;
}

#shopContent {
  display: block;
  width: 100%;
  margin: 0.8em 0;
  border-top: 1px #E0E0E0 dashed;
  border-bottom: 1px #E0E0E0 dashed;
}

#shopFooterTable {
  width: 100%;
  border-spacing: 0;
  font-size: 0.85em;
}

.shopFooterTableLeftColumn {
  text-align: left;
  width: 5%;
}

.shopFooterTableCentralColumn {
  text-align: left;
  width: 45%;
}

.shopFooterTableRightColumn {
  text-align: right;
  width: 50%;
}

.shopFooterSocialButton {
  padding-right: 0.4em;
}

#shopFrontHeading {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
  width: 100%;
}

#shopFrontProductTable .ui-datagrid-column {
  vertical-align: top;
  width: 33%;
}

.shopFrontName {
  margin-right: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.shopFrontImage {
  width: 245px;
  height: 245px;
}

.shopFrontPrice {
  color: #ff0000;
  font-size: 1.25em;
  font-weight: bold;
}
