/**
 * Copyright 2012 Mat Booth <mbooth@apache.org>
 */

.ui-menu {
  width: 10em;
}

.ui-picklist .ui-button {
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
}

.ui-picklist-list {
  -moz-box-shadow: inset 0 2px 2px #8F8F8F;
  -webkit-box-shadow: inset 0 2px 2px #8F8F8F;
  box-shadow: inset 0 2px 2px #8F8F8F;
}

.adminPageTable {
  width: 100%;
}

.adminPageMenuColumn {
  width: 10.5em;
  vertical-align: top;
}

.sectionControlsTable {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 0.3em;
}

.sectionControlsLeftColumn {
  text-align: left;
  padding: 0;
}

.sectionControlsRightColumn {
  text-align: right;
  padding: 0;
}

.toggleColumn {
  width: 36px;
}

.actionColumn {
  text-align: center;
  width: 250px;
}