/**
 * Copyright 2012 Mat Booth <mbooth@apache.org>
 */

.ui-picklist .ui-button {
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
}

.ui-picklist-list {
  -moz-box-shadow: inset 0 2px 2px #8F8F8F;
  -webkit-box-shadow: inset 0 2px 2px #8F8F8F;
  box-shadow: inset 0 2px 2px #8F8F8F;
}

.left-right-table {
  width: 100%;
  border-spacing: 0;
}

.left-aligned-stuff {
  text-align: left;
  padding: 0;
}

.right-aligned-stuff {
  text-align: right;
  padding: 0;
}

.toggleColumn {
  width: 36px;
}

.actionColumn {
  text-align: center;
  width: 250px;
}