/**
 * Copyright 2013 Mat Booth <mbooth@apache.org>
 */

 .subscribeGrid {
  border-spacing: 0;
  width: 100%;
}

.subscribeGridLeft {
  text-align: left;
  vertical-align: top;
}

.subscribeGridRight {
  width: 80%;
  text-align: left;
  vertical-align: top;
}

.subscribeGridLeft img {
  width: 300px;
  margin: 0 1em 1em 0;
}

.subscribeGridRight span:first-child {
  margin-top: 0;
}
