/**
 * Copyright 2013 Mat Booth <mbooth@apache.org>
 */

.subscribeGridDominant {
  width: 80%;
}

.subscribeGridThird {
  width: 30%;
}

.subscribePrice {
  color: #ff0000;
  font-size: 1.25em;
  font-weight: bold;
}
